.container_cards {
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card h3 {
  font-size: 1rem;
  margin: 10px 0;
  text-align: center;
}

.card p {
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .container_cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .container_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 468px) {
  .container_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
