<div class="container_cards">
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pokemon-card.png" alt="" />
  </div>
</div>
