<div class="container_cards">
  <div class="card">
    <img src="images/pack1.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pack1.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pack1.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pack1.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pack1.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pack1.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pack1.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pack1.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pack1.png" alt="" />
  </div>
  <div class="card">
    <img src="images/pack1.png" alt="" />
  </div>
</div>
