footer {
  background-color: #1f1f1f;
  color: #dfe6df;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
  margin-top: -15px;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer div p {
  width: 70%;
  text-wrap: balance;
}

footer a {
  color: #f1f1f1;
  text-decoration: none;
  width: fit-content;
}

footer a:hover {
  text-decoration: underline;
  color: #f7fff7;
}

footer svg {
  fill: #f1f1f1;
  width: 1.7rem;
  height: 1.7rem;
}

footer svg:hover {
  fill: #f7fff7;
  scale: 1.1;
}

footer .container_svg {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

footer img {
  width: 50%;
}

@media (max-width: 1024px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  footer svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  footer svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}
