#cuerpo {
<<<<<<< HEAD
    background-image: url("../../../public/images/wpEevee.webp");
    background-size: cover;
    background-attachment: fixed;
    /* aspect-ratio: 16/9; */
    padding: 165px;
=======
    background-image: url("../../../public/images/eevee.webp");
    background-size: cover;
    background-attachment: fixed;
    /* aspect-ratio: 16/9; */
    padding: 155px;
>>>>>>> 9d38d1ec47a71bf624b05b2e4b0b309b7a4e62bf
}

.login-container {
    max-height: 600px;
    max-width: 500px;
    padding: 40px;
<<<<<<< HEAD
=======
    margin-left: 100px;
>>>>>>> 9d38d1ec47a71bf624b05b2e4b0b309b7a4e62bf
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 3px solid #ff0000;
}

h2 {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

label {
    font-weight: bold;
    color: #000000;
    font-size: 22px;
    display: flex;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 12px;
    border: 2px solid #000000;
    border-radius: 6px;
    outline: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.input-field:focus {
    border-color: #ff0000;
    background-color: #f8f8f8;
}

.btn-registrar {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 18px;
}

.btn-registrar:hover {
    background-color: #ff0000;
    color: white;
}

#regis {
    display: inline-flex;
    text-align: left;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin-top: 8px; /* Ajuste opcional para separarlo de otros elementos */
    margin-bottom: 8px;
}

#regis:hover {
    text-decoration: underline;
    color: #ff0000;
}