/* Contenedor principal */
.registro-container {
  display: flex;
  justify-content: flex-end; /* Alinear el formulario a la derecha */
  align-items: center; /* Centrar el formulario verticalmente */
  height: 90vh;
  padding: 100px;
}

/* Pseudo-elemento para la imagen invertida */
.registro-container::before {
  content: ""; /* Crear un pseudo-elemento vacío */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://wallshub.com/uploads/posts/2024-04/30aa5b0007_pikachu-in-the-rain-pokemon-hd-live.webp");
  background-size: cover;
  transform: scaleX(-1);
  z-index: -1; /* Asegurarse de que la imagen quede detrás del formulario */
}

/* Título */
h2 {
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 20px;
}

/* Contenedor del formulario */
.formulario {
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1); /* Fondo blanco opaco */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  text-align: center;
  border: 3px solid #1890c8; /* Borde rojo */
}

.form-group {
  padding: 10px;
  text-align: left;
}

/* Etiquetas */
label {
  font-weight: bold;
  color: #000000; /* Negro */
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 2px solid #787878;
  border-radius: 6px;
  outline: none;
  font-size: 18px;
}

.input-field:focus {
  border-color: #000000;
}

/* Mensajes de error */
.error {
  color: #d32f2f; /* Rojo oscuro */
  font-size: 14px;
  margin-top: 3px;
}

.btn-registrar {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-registrar:hover {
  background-color: #1890c8;
}

p {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

#regis {
  text-decoration: none;
  color: #000000;
}

#regis:hover {
  text-decoration: underline;
  color: #1890c8;
}
