<div class="container_pack">
    <div class="card_pack" *ngFor="let card of randomCards">
        <div class="card" [class.flipped]="card.flipped">
            <img class="front" [src]="card.image" alt="{{ card.name }}">
            <img class="back" [src]="cardReversePath" alt="Card Reverse">
        </div>
    </div>
</div>
<section *ngIf="isLoading" class="loader">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</section>