* {
  margin: 0;
}

.body {
  background-image: url("../../../public/images/background.webp");
  background-size: cover;
}

.logo-container {
  /* Esto asegura que los elementos se apilen verticalmente */
  display: flex;
  flex-direction: column;
  /* Centra las imágenes horizontalmente */
  align-items: center;
  padding: 20px;
  margin-top: 80px;
}

.expansion-logo {
  width: 100%;
  /* Ajusta el tamaño máximo del logo */
  max-width: 300px;
  height: auto;
  /* Espacio entre el logo y el sobre */
  margin-bottom: 20px;
}

.booster-pack-image {
  width: 100%;
  /* Ajusta el tamaño máximo del sobre */
  max-width: 300px;
  height: auto;
  transition: 0.7s;
}

.booster-pack-image:hover {
  /* Aumenta el tamaño de la imagen al pasar el cursor */
  transform: scale(1.05);
  transition: 0.7s;
}