<!-- <div class="body">
  <div id="sobres">
    <div class="logo-container">
      <img src="https://images.pokemontcg.io/swsh11/logo.png" alt="Logo de la expansión Espada y Escudo: Origen Perdido" class="expansion-logo" />
      
      <img src="images/lostOrigin.webp" alt="Sobre de la expansión Espada y Escudo: Origen Perdido" class="booster-pack-image" />
    </div>
    <div class="logo-container">
      <img src="https://images.pokemontcg.io/swsh11/logo.png" alt="Logo de la expansión Espada y Escudo: Origen Perdido" class="expansion-logo" />
      
      <img src="images/lostOrigin.webp" alt="Sobre de la expansión Espada y Escudo: Origen Perdido" class="booster-pack-image" />
    </div>
    <div class="logo-container">
      <img src="https://images.pokemontcg.io/swsh11/logo.png" alt="Logo de la expansión Espada y Escudo: Origen Perdido" class="expansion-logo" />
      
      <img src="images/lostOrigin.webp" alt="Sobre de la expansión Espada y Escudo: Origen Perdido" class="booster-pack-image" />
    </div>
    
  </div>
</div> -->
<app-carousel></app-carousel>
